/* Login.css */

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100vh;
}

.login-form {
  flex: 0 0 400px;
  margin-right: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.login-form div {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #fefefe, #0b500e);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #218838; /* Darker green on hover */
}

.popup-message {
  margin-top: 15px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.right-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .login-form {
    margin-right: 0;
    width: 90%;
  }

  .image-container {
    display: none; /* Hide image on smaller screens */
  }
}
